@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
  html {
    @apply antialiased text-neutral-900 bg-neutral-50;
  }

  body {
    @apply min-h-screen font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-primary-900 tracking-tight;
  }
}